src/Magento/FunctionalTestingFramework/Test/etc/Actions/commonAttributes.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attribute type="xs:string" name="stepKey" id="stepKey">
        <xs:annotation>
            <xs:documentation>
                Test action's unique identifier.
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="before" id="before">
        <xs:annotation>
            <xs:documentation>
                stepKey of action that must be executed next.
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="after" id="after">
        <xs:annotation>
            <xs:documentation>
                stepKey of preceding action.
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>
</xs:schema>