src/Magento/AcceptanceTestFramework/Test/etc/testSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Container types -->

    <xs:element name="config" type="configType"/>
    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="cestType" name="cest" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cestType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="annotationsType" name="annotations" minOccurs="0"/>
            <xs:element type="testType" name="before" minOccurs="0"/>
            <xs:element type="testType" name="after" minOccurs="0"/>
            <xs:element type="testType" name="test" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="annotationsType">
        <xs:choice maxOccurs="unbounded">
            <xs:element type="annotationType" name="env" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="features" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="stories" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="severity" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="testCaseId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="group" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="annotationType" name="return" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="annotationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="testType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="annotationsType" name="annotations" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="acceptPopupType" name="acceptPopup" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="amOnPageType" name="amOnPage" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="amOnSubdomainType" name="amOnSubdomain" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="amOnUrlType" name="amOnUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="appendFieldType" name="appendField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="attachFileType" name="attachFile" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="cancelPopupType" name="cancelPopup" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="checkOptionType" name="checkOption" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="clickType" name="click" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="clickWithLeftButtonType" name="clickWithLeftButton" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="clickWithRightButtonType" name="clickWithRightButton" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="closeTabType" name="closeTab" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeType" name="dontSee" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeCheckboxIsCheckedType" name="dontSeeCheckboxIsChecked" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeCookieType" name="dontSeeCookie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeCurrentUrlEqualsType" name="dontSeeCurrentUrlEquals" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeCurrentUrlMatchesType" name="dontSeeCurrentUrlMatches" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeElementType" name="dontSeeElement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeElementInDOMType" name="dontSeeElementInDOM" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInCurrentUrlType" name="dontSeeInCurrentUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInFieldType" name="dontSeeInField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInFormFieldsType" name="dontSeeInFormFields" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInPageSourceType" name="dontSeeInPageSource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInSourceType" name="dontSeeInSource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeInTitleType" name="dontSeeInTitle" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeLinkType" name="dontSeeLink" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dontSeeOptionIsSelectedType" name="dontSeeOptionIsSelected" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="doubleClickType" name="doubleClick" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="dragAndDropType" name="dragAndDrop" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="executeInSeleniumType" name="executeInSelenium" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="executeJSType" name="executeJS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="fillFieldType" name="fillField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabAttributeFromType" name="grabAttributeFrom" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabCookieType" name="grabCookie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabFromCurrentUrlType" name="grabFromCurrentUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabMultipleType" name="grabMultiple" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabPageSourceType" name="grabPageSource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabTextFromType" name="grabTextFrom" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="grabValueFromType" name="grabValueFrom" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="loadSessionSnapshotType" name="loadSessionSnapshot" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="makeScreenshotType" name="makeScreenshot" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="maximizeWindowType" name="maximizeWindow" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="moveBackType" name="moveBack" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="moveForwardType" name="moveForward" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="moveMouseOverType" name="moveMouseOver" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="openNewTabType" name="openNewTab" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="pauseExecutionType" name="pauseExecution" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="performOnType" name="performOn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="pressKeyType" name="pressKey" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="reloadPageType" name="reloadPage" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="resetCookieType" name="resetCookie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="resizeWindowType" name="resizeWindow" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="saveSessionSnapshotType" name="saveSessionSnapshot" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="scrollToType" name="scrollTo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeType" name="see" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeCheckboxIsCheckedType" name="seeCheckboxIsChecked" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeCookieType" name="seeCookie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeCurrentUrlEqualsType" name="seeCurrentUrlEquals" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeCurrentUrlMatchesType" name="seeCurrentUrlMatches" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeElementType" name="seeElement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeElementInDOMType" name="seeElementInDOM" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInCurrentUrlType" name="seeInCurrentUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInFieldType" name="seeInField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInFormFieldsType" name="seeInFormFields" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInPageSourceType" name="seeInPageSource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInPopupType" name="seeInPopup" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInSourceType" name="seeInSource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeInTitleType" name="seeInTitle" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeLinkType" name="seeLink" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeNumberOfElementsType" name="seeNumberOfElements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="seeOptionIsSelectedType" name="seeOptionIsSelected" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="selectOptionType" name="selectOption" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="setCookieType" name="setCookie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="submitFormType" name="submitForm" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="switchToIFrameType" name="switchToIFrame" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="switchToNextTabType" name="switchToNextTab" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="switchToPreviousTabType" name="switchToPreviousTab" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="switchToWindowType" name="switchToWindow" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="typeInPopupType" name="typeInPopup" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="uncheckOptionType" name="uncheckOption" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="unselectOptionType" name="unselectOption" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitType" name="wait" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForElementChangeType" name="waitForElementChange" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForElementType" name="waitForElement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForElementNotVisibleType" name="waitForElementNotVisible" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForElementVisibleType" name="waitForElementVisible" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForJSType" name="waitForJS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="waitForTextType" name="waitForText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:boolean" name="remove" default="false"/>
    </xs:complexType>


    <!-- Test action types -->

    <xs:complexType name="acceptPopupType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="amOnPageType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="amOnSubdomainType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="amOnUrlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="appendFieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="attachFileType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="cancelPopupType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="checkOptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="clickType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="clickWithLeftButtonType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="x"/>
                <xs:attribute type="xs:string" name="y"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="clickWithRightButtonType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="x"/>
                <xs:attribute type="xs:string" name="y"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="closeTabType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeCheckboxIsCheckedType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeCookieType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeCurrentUrlEqualsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeCurrentUrlMatchesType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeElementInDOMType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="attributeArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInCurrentUrlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInFieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInFormFieldsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInPageSourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInSourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="html" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeInTitleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeLinkType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="url"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dontSeeOptionIsSelectedType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="doubleClickType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dragAndDropType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector1" use="required"/>
                <xs:attribute type="xs:string" name="selector2" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="executeInSeleniumType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="function" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="executeJSType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="function" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="fillFieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabAttributeFromType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabCookieType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="returnVariable" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabFromCurrentUrlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url"/>
                <xs:attribute type="xs:string" name="returnVariable" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabMultipleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="returnVariable" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabPageSourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="returnVariable"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabTextFromType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="returnVariable" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="grabValueFromType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="returnVariable" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="loadSessionSnapshotType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="returnVariable"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="makeScreenshotType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="maximizeWindowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="moveBackType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="moveForwardType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="moveMouseOverType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="x"/>
                <xs:attribute type="xs:string" name="y"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="openNewTabType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pauseExecutionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="performOnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="function" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pressKeyType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="reloadPageType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resetCookieType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resizeWindowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="width" use="required"/>
                <xs:attribute type="xs:string" name="height" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="saveSessionSnapshotType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="scrollToType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="x"/>
                <xs:attribute type="xs:string" name="y"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeCheckboxIsCheckedType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeCookieType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeCurrentUrlEqualsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeCurrentUrlMatchesType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeElementInDOMType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInCurrentUrlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="url" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInFieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="selectorArray"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInFormFieldsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInPageSourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="html" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInPopupType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInSourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="html" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeInTitleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeLinkType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="url"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeNumberOfElementsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="seeOptionIsSelectedType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="selectOptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="setCookieType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="value" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="submitFormType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="button"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="switchToIFrameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="switchToNextTabType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="switchToPreviousTabType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="switchToWindowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="typeInPopupType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="uncheckOptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="unselectOptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="parameterArray"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForElementChangeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="function" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForElementNotVisibleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForElementVisibleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="selector" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForJSType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="function" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="waitForTextType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="userInput" use="required"/>
                <xs:attribute type="xs:string" name="time" use="required"/>
                <xs:attribute type="xs:string" name="selector"/>
                <xs:attribute type="xs:string" name="mergeKey" use="required"/>
                <xs:attribute type="xs:boolean" name="remove" default="false"/>
                <xs:attribute type="xs:string" name="before"/>
                <xs:attribute type="xs:string" name="after"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
