src/Magento/AcceptanceTestFramework/DataGenerator/etc/EntityMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="key" use="required"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="array" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="key" use="required"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="header" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="param" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="key" use="required"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="dataType" use="required"/>
                        <xs:attribute type="operationEnum" name="operation" use="required"/>
                        <xs:attribute type="xs:string" name="url"/>
                        <xs:attribute type="xs:string" name="auth"/>
                        <xs:attribute type="xs:string" name="method"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="operationEnum" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="create" />
            <xs:enumeration value="delete" />
            <xs:enumeration value="update" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>